 #textarea {
    width:100%;
    height: 300px;
    background-color: #191919;
    color: white;
}
#button{
    width: 100%;
    margin-bottom: 6px;
    background-color: teal;
    border-radius: 50%;

}
#output{
    width: 100%;
    height: 300px;
    background-color: #191919;
    color: white;

}